@import "core/reset.scss";
@import "core/variables";

:root {
  font-family: $font-familyPrimary;
}
a:link {
  text-decoration: none;
  color: $dark-pink;
}

.body {
  background-color: $blue;
}
.App {
  height: 100%;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: rem(30);
  color: $dark-pink;
}
